// COLORS
$color-white: #ffffff;
$color-text: #0c0c0c;
$color-gray: #eaeaea;
$color-error: #dd6e42;
$color-primary-dark: #4f6d7a;
$color-primary-light: #c0d6df;

// PADDING
$padding: 1.5rem 6%;

// BORDER
$border-light: 01px solid white;
$border-gray: 01px solid $color-gray;
$border-radius: 3px;
